@{
    ViewBag.Title = "Reishi coffee & milk tea";
}

@section scriptSection {    
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>    
  <script src="/js/materialize.js"></script>
}

<div class="home-slider" style="margin-bottom: 20px;">
    <img src="~/ImagesUpload/banner-coffee-02.jpg" style="width: 100%;" />
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h2 class="info-title"><strong>Vua Hải Tặc</strong></h2>
            <p><img src="https://ae01.alicdn.com/kf/HTB1iwnmXnQMVeJjSZFMq6zVzpXaU/One-Piece-Cartoon-Doramoon-Cat-Print-Cushion-18inch-Square-45-45cm-Home-Decor-Bed-Sofa-Seat.jpg" style="width: 100%;" /></p>
            
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h2 class="info-title"><strong>Naruto</strong></h2>
            <p><img src="https://d1zfszn0v5ya99.cloudfront.net/user/9056902/profile_picture/59a946be151cd_square.png" style="width: 100%;" /></p>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h2 class="info-title"><strong>Ynuyasha</strong></h2>
            <p><img src="https://data.whicdn.com/images/16142985/original.jpg" style="width: 100%;" /></p>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h2 class="info-title"><strong>Mr. Siro</strong></h2>
            <p><img src="https://img.saostar.vn/w600/2016/11/21/927875/161121musicsiro-2.jpg" style="width: 100%;" /></p>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h2 class="info-title"><strong>Phan Mạnh Quỳnh</strong></h2>
            <p><img src="https://zmp3-photo-fbcrawler.zadn.vn/thumb/600_600/covers/9/7/973ae8ef4fcb98bb91372308149bfa6f_1501843359.jpg" style="width: 100%;" /></p>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h2 class="info-title"><strong>Only C</strong></h2>
            <p><img src="http://avatar.nct.nixcdn.com/singer/avatar/2016/06/22/e/9/5/c/1466589749806_600.jpg" style="width: 100%;" /></p>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h2 class="info-title"><strong>Khắc Việt</strong></h2>
            <p><img src="https://zmp3-photo-fbcrawler.zadn.vn/thumb/600_600/covers/4/b/4b1c59c7728e2b1cb65f6cb20aaf5cf9_1426739987.jpg" style="width: 100%;" /></p>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <h2 class="info-title"><strong>Nguyen Jenda</strong></h2>
            <p><img src="https://avatar-nct.nixcdn.com/singer/avatar/2016/09/07/6/8/7/3/1473239965543_600.jpg" style="width: 100%;" /></p>
        </div>
    </div>

    
</div>

<div class="cd-main-content">
    
		<div class="cd-scrolling-bg">
			<div class="cd-container">
				<div class="container text-center">
                    <h2 class="text-success" style="font-family: 'BlondeScript'; font-size: 60px;">
                        <strong>
                            Eiichiro Oda - Những thông tin về One Piece
                        </strong>
                    </h2>
                    <p>Cha đẻ của One Piece, Fan Nhật hay gọi Oda với biệt danh thân mật là Odacchi. Còn fan Việt gọi là "thánh Oda" cũng như fan quốc tế hay gọi "God" Oda để nói về tài năng của ông. Ông sinh năm 1975, One Piece ra mắt lần đầu vào ngày 4/8/1997 trên tạp chí Shounen Jump với chap 1 xếp hạng 7 trên bảng xếp hạng TOC hàng tuần của tạp chí. Tính đến hiện tại One Piece là manga bán chạy nhất mọi thời đại với hơn 300 triệu bản in tại Nhật, là manga doanh thu ăn khách nhất tại Châu Âu (Pháp là thị trường lớn nhất tại đây với 13 450 000 bản) và Châu Á.</p>    
                    <p>Oda là con người theo chủ nghĩa hoàn hảo, ông cũng chỉ ngủ từ 2-5h sáng, 1 năm trung bình ông thu về 25 triệu đô la tiền bản quyền liên quan đến One Piece. </p>

                </div>
			</div> <!-- cd-container -->
		</div> <!-- cd-scrolling-bg -->

		<div class="cd-fixed-bg cd-bg-1">
            <div style="background-color: rgba(0, 0, 0, 0.5);">
                <h1 class="text-center" style="color: #fff; padding: 80px 20px 5px; font-family: 'BlondeScript'; font-size: 60px;">Vua Hải Tặc - Eiichiro Oda</h1>

                <div class="container" style="padding-bottom: 80px;">
                    <p class="text-justify" style="padding: 5px 20px 20px; color: #fff; font-size: 16px;">
				        Một cậu bé tên Monkey D. Luffy, được khuyến khích bởi người anh hùng thuở nhỏ Shanks Tóc đỏ, giong buồm ra khơi trên chuyến hành trình tìm kho báu huyền thoại và trở thành Vua hải tặc. Để làm được điều này, cậu phải đến được tận cùng của vùng biển nguy hiểm và chết chóc nhất thế giới: Grand Line (Đại Hải Trình).Luffy đội trên đầu chiếc mũ rơm như một nhân chứng lịch sử vì chiếc mũ rơm đó đã từng thuộc về 2 hải tặc hùng mạnh là : Hải tặc vương Gol.D.Roger và tứ hòang Shanktóc đỏ Luffy lãnh đạo nhóm hải tặc Mũ Rơm qua East Blue (Biển Đông) và rồi tiến đến Grand Line. Cậu theo dấu chân của vị vua hải tặc quá cố, Gol D. Roger, chu du từ đảo này sang đảo khác để đến với kho báu vĩ đại. Mỗi thành viên trong nhóm đều có 1 quá khứ rất đặc biệt và đáng buồn. Ngoài khả năng đặc biệt trong công việc của mình, bất cứ thành viên nào cũng có khả năng chiến đấu rất tốt.
			        </p>
                    <div class="row">
                        <div class="col-xs-3">
                            <p><img src="https://ae01.alicdn.com/kf/HTB1iwnmXnQMVeJjSZFMq6zVzpXaU/One-Piece-Cartoon-Doramoon-Cat-Print-Cushion-18inch-Square-45-45cm-Home-Decor-Bed-Sofa-Seat.jpg" style="width: 100%;" /></p>
                        </div>
                        <div class="col-xs-3">
                            <p><img src="https://ae01.alicdn.com/kf/HTB10uisIVXXXXcsXpXXq6xXFXXXs/Cute-ONE-PIECE-Cartoon-Luffy-Zoro-Nami-Sanji-Usopp-Chopper-Linen-Cotton-Fabric-Sofa-Car-Throw.jpg_640x640.jpg" style="width: 100%;" /></p>
                        </div>
                        <div class="col-xs-3">
                            <p><img src="http://www.1999.co.jp/itbig46/10463918.jpg" style="width: 100%;" /></p>
                        </div>
                        <div class="col-xs-3">
                            <p><img src="https://i.pinimg.com/736x/01/61/ca/0161ca108e81aa22eb6bf943deae3b6a--monkey-d-luffy-kid.jpg" style="width: 100%;" /></p>
                        </div>
                    </div>

    
                </div>
            </div>
			
		</div> <!-- cd-fixed-bg -->


	</div> <!-- cd-main-content -->

<div class="container text-justify" style="margin-top: 30px;">
    <h1 class="text-danger text-center" style="font-family: 'BlondeScript'; font-size: 60px;"><strong>Monkey D. Luffy</strong></h1>
    <p><b>Monkey D. Luffy "Mũ Rơm"<sup id="cite_ref-2" class="reference"><a href="#cite_note-2">[n 1]</a></sup></b><sup id="cite_ref-3" class="reference"><a href="#cite_note-3">[2]</a></sup> <span style="font-weight: normal">(<span style="color:#555;"><span class="t_nihongo_kanji" lang="ja" xml:lang="ja">モンキー・D・ルフィ</span><span class="t_nihongo_comma" style="display:none">,</span> <i><span class="t_nihongo_romaji"><span title="Rōmaji (chữ La tinh)">Monkī Dī Rufi</span></span></i><span class="t_nihongo_help noprint"><a href="https://en.wikipedia.org/wiki/Help:Japanese" class="extiw" title="en:Help:Japanese"><span class="t_nihongo_icon" style="font: bold 80% sans-serif; text-decoration:none;padding:0 .1em;"><sup>?</sup></span></a></span></span>)</span> là một nhân vật hư cấu chính trong <a href="/wiki/Manga" title="Manga">manga</a> <i><a href="/wiki/One_Piece" title="One Piece">One Piece</a></i> đình đám của tác giả <a href="/wiki/Oda_Eiichiro" title="Oda Eiichiro">Eiichiro Oda</a>. Luffy là người sáng lập và là thuyền trưởng của băng <a href="/wiki/H%E1%BA%A3i_t%E1%BA%B7c_M%C5%A9_R%C6%A1m" class="mw-redirect" title="Hải tặc Mũ Rơm">Hải tặc Mũ Rơm</a>, được xem là nhân vật mạnh nhất nhóm Mũ Rơm (Straw Hat) sở hữu sức mạnh của trái ác quỷ Gomu Gomu đem lại cho cậu khả năng co giãn các bộ phận như cao su đồng thời là người duy nhất hiện tại trong nhóm sử dụng thành thục được ba loại sức mạnh của Haki. Ước mơ của cậu là trở thành Vua Hải Tặc (Pirate King), người tự do nhất trên biển, bằng cách tìm ra kho báu huyền thoại của Gold D. Roger (Vua Hải Tặc) đời trước.</p>
    <p>Luffy xuất hiện lần đầu trong chương manga "Romance Dawn" <span style="font-weight: normal">(<span style="color:#555;"><span class="t_nihongo_kanji" lang="ja" xml:lang="ja">Romance Dawn - 冒険の夜明</span><span class="t_nihongo_comma" style="display:none">,</span> <i><span class="t_nihongo_romaji"><span title="Rōmaji (chữ La tinh)">Romance Dawn - Bōken no Yoake</span></span></i><span class="t_nihongo_help noprint"><a href="https://en.wikipedia.org/wiki/Help:Japanese" class="extiw" title="en:Help:Japanese"><span class="t_nihongo_icon" style="font: bold 80% sans-serif; text-decoration:none;padding:0 .1em;"><sup>?</sup></span></a></span></span>)</span>, đăng trên tạp chí Weekly Shounen Jump ấn bản số 34 ra ngày <a href="/wiki/4_th%C3%A1ng_8" title="4 tháng 8">4 tháng 8</a> năm <a href="/wiki/1997" title="1997">1997</a><sup id="cite_ref-firstsj_4-0" class="reference"><a href="#cite_note-firstsj-4">[3]</a></sup>.</p>
    <p>Trong chương đầu tiên, Luffy xuất hiện dưới dạng một cậu nhóc 7 tuổi hồn nhiên nhưng không kém phần nghịch ngợm. Sinh ra và lớn lên trên hòn đảo Dawn, trong ngôi làng Foosha thuộc East Blue cùng với người ông Garp của mình. Từ nhỏ, Luffy đã được ông nội huấn luyện rất kỹ lưỡng để trở thành một hải quân xuất sắc theo mong ước của Garp. Ngay từ khi còn nhỏ, Luffy đã cùng gia đình Dadan - một đại gia đình nuôi dưỡng những người cháu của Garp, chống lại băng hải tặc Bluejam quấy rối hòn đảo mà Luffy sinh sống. Tuy nhiên <a href="/wiki/Shanks_t%C3%B3c_%C4%91%E1%BB%8F" title="Shanks tóc đỏ">Shanks</a> mới là người khơi dậy tình yêu biển cả đối với cậu bé 7 tuổi này khi có một thời gian dài lưu lại làng Foosha, quê hương của cậu bé Luffy.</p>
    
    <p>Luffy được khắc họa là một nhân vật vô âu và dễ dãi với một hoài bão lớn và một sức ăn kinh khủng. Cậu nhìn chung là một người tử tế và quan tâm đến mọi người. Tuy nhiên, Luffy không phải là một người ngây thơ như mọi người thường nghĩ. Trái lại, cậu có thể đọc tính huống tốt hơn những người khác mong đợi ở cậu. Khi ở trong tình huống nguy hiểm, cậu không màng đến ước mơ trở thành Vua hải tặc mà sẵn sàng liều mạng để bảo vệ đồng đội của mình. Luffy cũng không đần độn như hành động của cậu. Một ví dụ là cậu đã khai hỏa đại bác để ngăn chiếc <a href="/wiki/Going_Merry" title="Going Merry">Going Merry</a> khỏi đâm vào <a href="/w/index.php?title=Laboon&amp;action=edit&amp;redlink=1" class="new" title="Laboon (trang chưa được viết)">Laboon</a>, một con cá voi khổng lồ chắn trước của vào Đại Hải Trình.</p>
    <p>Luffy đã mời một số người, như <a href="/wiki/Tony_Tony_Chopper" title="Tony Tony Chopper">Tony Tony Chopper</a> hay <a href="/w/index.php?title=Brook&amp;action=edit&amp;redlink=1" class="new" title="Brook (trang chưa được viết)">Brook</a>, vào băng hải tặc của mình không chỉ vì lý do chính là cậu có vài vị trí còn trống trong thủy thủ đoàn mà còn vì linh tính, khả năng nhìn người của cậu. Cậu cũng là một vị thuyền trưởng cực kì quan tâm đến thủy thủ đoàn của mình và cậu thường xuyên bất chấp nguy hiểm để đảm bảo sự an toàn cho họ xuyên suốt bộ truyện. Ngoài ra, cậu cũng ít khi nghĩ đến hậu quả của những hành động cảm tính của mình. Cậu cũng giành được sự tôn trọng và niềm tin từ những người mà cậu kết bạn với và đặc biệt từ các thủy thủ đoàn của cậu mặc cho cái tính cách vô âu.</p>
    <p>Đóng vai trò là thuyền trưởng của nhóm Hải Tặc Mũ Rơm, Monkey D. Luffy sở hữu một nguồn sức mạnh kinh hoàng đến mức không tưởng, nâng dễ dàng 1 tảng đá siêu bự, hay đập nát nó tan tành, hay nghiền nát thành mảng một phiến thép hay đẩy sập những toà nhà cao tầng với chỉ đôi bàn tay không đều là chuyện nhỏ đối với cậu. Ngoài ra, Luffy luôn là người trong nhóm đối đầu và hạ gục kẻ thù mạnh nhất trong tất cả các câu chuyện. Sức khoẻ và sự khéo léo trong kỹ năng sinh tồn và thể chất của Luffy được như giờ cũng là do thời gian huấn luyện cực kỳ gian nan và gian khổ dưới sự theo dõi của chính ông nội mình – Monkey D. Garp (ném xuống 1 vực thẳm, hay cột cậu vào trái bong bóng bay, hay bỏ rơi trong rừng vào ban đầu, vân vân.) và cậu cũng khẳng định rằng nắm đấm của cậu gây chấn thương ngang ngửa với một khẩu súng ngắn ở độ tuổi thứ 7. Sức chịu đựng và độ bền bỉ của cậu cũng thuộc hàng đáng kinh ngạc; như là chịu những đòn tấn công thiết sát nguy hiểm liên tục bởi những kẻ thù mạnh nhất trong hầu hết tất cả các trận chiến nhưng thế mà cậu vẫn có thể đứng lên tiếp và chiến đấu, hạ gục đối thủ.</p>
</div>

<div class="parallax-container" style="height: auto;">
    <div>
        <div style="background-color: rgba(0, 0, 0, 0.5);">
                <h1 class="text-center" style="margin-top: 0px; color: #fff; padding: 50px 20px 5px; font-family: 'BlondeScript'; font-size: 60px;">Vua Hải Tặc - Eiichiro Oda</h1>

                <div class="container" style="padding-bottom: 50px;">
                    <p class="text-justify" style="padding: 5px 20px 20px; color: #fff; font-size: 16px;">
				        Một cậu bé tên Monkey D. Luffy, được khuyến khích bởi người anh hùng thuở nhỏ Shanks Tóc đỏ, giong buồm ra khơi trên chuyến hành trình tìm kho báu huyền thoại và trở thành Vua hải tặc. Để làm được điều này, cậu phải đến được tận cùng của vùng biển nguy hiểm và chết chóc nhất thế giới: Grand Line (Đại Hải Trình).Luffy đội trên đầu chiếc mũ rơm như một nhân chứng lịch sử vì chiếc mũ rơm đó đã từng thuộc về 2 hải tặc hùng mạnh là : Hải tặc vương Gol.D.Roger và tứ hòang Shanktóc đỏ Luffy lãnh đạo nhóm hải tặc Mũ Rơm qua East Blue (Biển Đông) và rồi tiến đến Grand Line. Cậu theo dấu chân của vị vua hải tặc quá cố, Gol D. Roger, chu du từ đảo này sang đảo khác để đến với kho báu vĩ đại. Mỗi thành viên trong nhóm đều có 1 quá khứ rất đặc biệt và đáng buồn. Ngoài khả năng đặc biệt trong công việc của mình, bất cứ thành viên nào cũng có khả năng chiến đấu rất tốt.
			        </p>
                    <div class="row">
                        <div class="col-xs-3">
                            <p><img src="https://ae01.alicdn.com/kf/HTB1iwnmXnQMVeJjSZFMq6zVzpXaU/One-Piece-Cartoon-Doramoon-Cat-Print-Cushion-18inch-Square-45-45cm-Home-Decor-Bed-Sofa-Seat.jpg" style="width: 100%;" /></p>
                        </div>
                        <div class="col-xs-3">
                            <p><img src="https://ae01.alicdn.com/kf/HTB10uisIVXXXXcsXpXXq6xXFXXXs/Cute-ONE-PIECE-Cartoon-Luffy-Zoro-Nami-Sanji-Usopp-Chopper-Linen-Cotton-Fabric-Sofa-Car-Throw.jpg_640x640.jpg" style="width: 100%;" /></p>
                        </div>
                        <div class="col-xs-3">
                            <p><img src="http://www.1999.co.jp/itbig46/10463918.jpg" style="width: 100%;" /></p>
                        </div>
                        <div class="col-xs-3">
                            <p><img src="https://i.pinimg.com/736x/01/61/ca/0161ca108e81aa22eb6bf943deae3b6a--monkey-d-luffy-kid.jpg" style="width: 100%;" /></p>
                        </div>
                    </div>

    
                </div>
            </div>
    </div>
    <div class="parallax"><img src="~/ImagesUpload/background1.jpg" alt="Unsplashed background img 1"></div>
</div>

<script type="text/javascript">
    (function ($) {
        $(function () {
            $('.parallax').parallax();
        }); // end of document ready
    })(jQuery); // end of jQuery name space
</script>


<div class="container text-justify" style="margin-top: 30px;">
    <h1 class="text-danger text-center" style="font-family: 'BlondeScript'; font-size: 60px;"><strong>Monkey D. Luffy</strong></h1>
    <p><b>Monkey D. Luffy "Mũ Rơm"<sup id="cite_ref-2" class="reference"><a href="#cite_note-2">[n 1]</a></sup></b><sup id="cite_ref-3" class="reference"><a href="#cite_note-3">[2]</a></sup> <span style="font-weight: normal">(<span style="color:#555;"><span class="t_nihongo_kanji" lang="ja" xml:lang="ja">モンキー・D・ルフィ</span><span class="t_nihongo_comma" style="display:none">,</span> <i><span class="t_nihongo_romaji"><span title="Rōmaji (chữ La tinh)">Monkī Dī Rufi</span></span></i><span class="t_nihongo_help noprint"><a href="https://en.wikipedia.org/wiki/Help:Japanese" class="extiw" title="en:Help:Japanese"><span class="t_nihongo_icon" style="font: bold 80% sans-serif; text-decoration:none;padding:0 .1em;"><sup>?</sup></span></a></span></span>)</span> là một nhân vật hư cấu chính trong <a href="/wiki/Manga" title="Manga">manga</a> <i><a href="/wiki/One_Piece" title="One Piece">One Piece</a></i> đình đám của tác giả <a href="/wiki/Oda_Eiichiro" title="Oda Eiichiro">Eiichiro Oda</a>. Luffy là người sáng lập và là thuyền trưởng của băng <a href="/wiki/H%E1%BA%A3i_t%E1%BA%B7c_M%C5%A9_R%C6%A1m" class="mw-redirect" title="Hải tặc Mũ Rơm">Hải tặc Mũ Rơm</a>, được xem là nhân vật mạnh nhất nhóm Mũ Rơm (Straw Hat) sở hữu sức mạnh của trái ác quỷ Gomu Gomu đem lại cho cậu khả năng co giãn các bộ phận như cao su đồng thời là người duy nhất hiện tại trong nhóm sử dụng thành thục được ba loại sức mạnh của Haki. Ước mơ của cậu là trở thành Vua Hải Tặc (Pirate King), người tự do nhất trên biển, bằng cách tìm ra kho báu huyền thoại của Gold D. Roger (Vua Hải Tặc) đời trước.</p>
    <p>Luffy xuất hiện lần đầu trong chương manga "Romance Dawn" <span style="font-weight: normal">(<span style="color:#555;"><span class="t_nihongo_kanji" lang="ja" xml:lang="ja">Romance Dawn - 冒険の夜明</span><span class="t_nihongo_comma" style="display:none">,</span> <i><span class="t_nihongo_romaji"><span title="Rōmaji (chữ La tinh)">Romance Dawn - Bōken no Yoake</span></span></i><span class="t_nihongo_help noprint"><a href="https://en.wikipedia.org/wiki/Help:Japanese" class="extiw" title="en:Help:Japanese"><span class="t_nihongo_icon" style="font: bold 80% sans-serif; text-decoration:none;padding:0 .1em;"><sup>?</sup></span></a></span></span>)</span>, đăng trên tạp chí Weekly Shounen Jump ấn bản số 34 ra ngày <a href="/wiki/4_th%C3%A1ng_8" title="4 tháng 8">4 tháng 8</a> năm <a href="/wiki/1997" title="1997">1997</a><sup id="cite_ref-firstsj_4-0" class="reference"><a href="#cite_note-firstsj-4">[3]</a></sup>.</p>
    <p>Trong chương đầu tiên, Luffy xuất hiện dưới dạng một cậu nhóc 7 tuổi hồn nhiên nhưng không kém phần nghịch ngợm. Sinh ra và lớn lên trên hòn đảo Dawn, trong ngôi làng Foosha thuộc East Blue cùng với người ông Garp của mình. Từ nhỏ, Luffy đã được ông nội huấn luyện rất kỹ lưỡng để trở thành một hải quân xuất sắc theo mong ước của Garp. Ngay từ khi còn nhỏ, Luffy đã cùng gia đình Dadan - một đại gia đình nuôi dưỡng những người cháu của Garp, chống lại băng hải tặc Bluejam quấy rối hòn đảo mà Luffy sinh sống. Tuy nhiên <a href="/wiki/Shanks_t%C3%B3c_%C4%91%E1%BB%8F" title="Shanks tóc đỏ">Shanks</a> mới là người khơi dậy tình yêu biển cả đối với cậu bé 7 tuổi này khi có một thời gian dài lưu lại làng Foosha, quê hương của cậu bé Luffy.</p>
    
    <p>Luffy được khắc họa là một nhân vật vô âu và dễ dãi với một hoài bão lớn và một sức ăn kinh khủng. Cậu nhìn chung là một người tử tế và quan tâm đến mọi người. Tuy nhiên, Luffy không phải là một người ngây thơ như mọi người thường nghĩ. Trái lại, cậu có thể đọc tính huống tốt hơn những người khác mong đợi ở cậu. Khi ở trong tình huống nguy hiểm, cậu không màng đến ước mơ trở thành Vua hải tặc mà sẵn sàng liều mạng để bảo vệ đồng đội của mình. Luffy cũng không đần độn như hành động của cậu. Một ví dụ là cậu đã khai hỏa đại bác để ngăn chiếc <a href="/wiki/Going_Merry" title="Going Merry">Going Merry</a> khỏi đâm vào <a href="/w/index.php?title=Laboon&amp;action=edit&amp;redlink=1" class="new" title="Laboon (trang chưa được viết)">Laboon</a>, một con cá voi khổng lồ chắn trước của vào Đại Hải Trình.</p>
    <p>Luffy đã mời một số người, như <a href="/wiki/Tony_Tony_Chopper" title="Tony Tony Chopper">Tony Tony Chopper</a> hay <a href="/w/index.php?title=Brook&amp;action=edit&amp;redlink=1" class="new" title="Brook (trang chưa được viết)">Brook</a>, vào băng hải tặc của mình không chỉ vì lý do chính là cậu có vài vị trí còn trống trong thủy thủ đoàn mà còn vì linh tính, khả năng nhìn người của cậu. Cậu cũng là một vị thuyền trưởng cực kì quan tâm đến thủy thủ đoàn của mình và cậu thường xuyên bất chấp nguy hiểm để đảm bảo sự an toàn cho họ xuyên suốt bộ truyện. Ngoài ra, cậu cũng ít khi nghĩ đến hậu quả của những hành động cảm tính của mình. Cậu cũng giành được sự tôn trọng và niềm tin từ những người mà cậu kết bạn với và đặc biệt từ các thủy thủ đoàn của cậu mặc cho cái tính cách vô âu.</p>
    <p>Đóng vai trò là thuyền trưởng của nhóm Hải Tặc Mũ Rơm, Monkey D. Luffy sở hữu một nguồn sức mạnh kinh hoàng đến mức không tưởng, nâng dễ dàng 1 tảng đá siêu bự, hay đập nát nó tan tành, hay nghiền nát thành mảng một phiến thép hay đẩy sập những toà nhà cao tầng với chỉ đôi bàn tay không đều là chuyện nhỏ đối với cậu. Ngoài ra, Luffy luôn là người trong nhóm đối đầu và hạ gục kẻ thù mạnh nhất trong tất cả các câu chuyện. Sức khoẻ và sự khéo léo trong kỹ năng sinh tồn và thể chất của Luffy được như giờ cũng là do thời gian huấn luyện cực kỳ gian nan và gian khổ dưới sự theo dõi của chính ông nội mình – Monkey D. Garp (ném xuống 1 vực thẳm, hay cột cậu vào trái bong bóng bay, hay bỏ rơi trong rừng vào ban đầu, vân vân.) và cậu cũng khẳng định rằng nắm đấm của cậu gây chấn thương ngang ngửa với một khẩu súng ngắn ở độ tuổi thứ 7. Sức chịu đựng và độ bền bỉ của cậu cũng thuộc hàng đáng kinh ngạc; như là chịu những đòn tấn công thiết sát nguy hiểm liên tục bởi những kẻ thù mạnh nhất trong hầu hết tất cả các trận chiến nhưng thế mà cậu vẫn có thể đứng lên tiếp và chiến đấu, hạ gục đối thủ.</p>
</div>