
@{
    ViewBag.Title = "Chi tiết đơn hàng ORD.685195";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row text-center">
    <div class="col-sm-6 col-lg-3">
        <div class="widget">
            <div class="widget-extra themed-background-success">
                <h4 class="widget-content-light"><strong>ORD.685195</strong></h4>
            </div>
            <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen"><strong>15/10/2014</strong></span></div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="widget">
            <div class="widget-extra themed-background-success">
                <h4 class="widget-content-light"><i class="fa fa-paypal"></i> <strong>Thanh toán</strong></h4>
            </div>
            <div class="widget-extra-full">
                <span class="h2 text-success animation-expandOpen">
                    <i class="fa fa-check"></i> <strong>100.000</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="widget">
            <div class="widget-extra themed-background-coral">
                <h4 class="widget-content-light"><i class="fa fa-archive"></i> <strong>Trạng thái</strong></h4>
            </div>
            <div class="widget-extra-full">
                <span class="h2 text-warning"><i class="fa fa-refresh fa-spin"></i> <strong>Đang xử lý</strong></span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="widget">
            <div class="widget-extra themed-background-autumn">
                <h4 class="widget-content-light"><i class="fa fa-truck"></i> <strong>Tổng tiền</strong></h4>
            </div>
            <div class="widget-extra-full">
                <span class="h2 text-danger">
                    <i class="fa fa-money"></i> <strong>100.000</strong>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- Timeline Widget -->
<div class="widget">
    <div class="widget-extra themed-background-dark">
        <h3 class="widget-content-light">
            <strong><i class="fa fa-list-ul"></i> Chi tiết đơn hàng</strong>
        </h3>
    </div>
    <div class="widget-extra" style="height: auto !important;">
        <div style="padding: 10px 0;">
            <div class="table-responsive">
                <table class="table table-bordered table-vcenter">
                    <thead>
                        <tr>
                            <th class="text-center text-nowrap" style="width: 100px;">ID</th>
                            <th>TÊN HÀNG HOÁ</th>
                            <th class="text-center text-nowrap">KHO</th>
                            <th class="text-center text-nowrap">SỐ LƯỢNG</th>
                            <th class="text-right text-nowrap" style="width: 10%;">ĐƠN GIÁ</th>
                            <th class="text-right text-nowrap" style="width: 10%;">THÀNH TIỀN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center"><a href="page_ecom_product_edit.html"><strong>PID.8715</strong></a></td>
                            <td><a href="page_ecom_product_edit.html">Xbox One</a></td>
                            <td class="text-center"><strong>720</strong></td>
                            <td class="text-center"><strong>1</strong></td>
                            <td class="text-right"><strong>$399,00</strong></td>
                            <td class="text-right"><strong>$399,00</strong></td>
                        </tr>
                        <tr>
                            <td class="text-center"><a href="page_ecom_product_edit.html"><strong>PID.8726</strong></a></td>
                            <td><a href="page_ecom_product_edit.html">Forza Motorsport 5</a></td>
                            <td class="text-center"><strong>368</strong></td>
                            <td class="text-center"><strong>1</strong></td>
                            <td class="text-right"><strong>$59,00</strong></td>
                            <td class="text-right"><strong>$59,00</strong></td>
                        </tr>
                        <tr>
                            <td class="text-center"><a href="page_ecom_product_edit.html"><strong>PID.8760</strong></a></td>
                            <td><a href="page_ecom_product_edit.html">Playstation 4</a></td>
                            <td class="text-center"><strong>652</strong></td>
                            <td class="text-center"><strong>1</strong></td>
                            <td class="text-right"><strong>$399,00</strong></td>
                            <td class="text-right"><strong>$399,00</strong></td>
                        </tr>
                        <tr>
                            <td class="text-center"><a href="page_ecom_product_edit.html"><strong>PID.8728</strong></a></td>
                            <td><a href="page_ecom_product_edit.html">Killzone: Shadow Fall</a></td>
                            <td class="text-center"><strong>368</strong></td>
                            <td class="text-center"><strong>1</strong></td>
                            <td class="text-right"><strong>$59,00</strong></td>
                            <td class="text-right"><strong>$59,00</strong></td>
                        </tr>
                        <tr>
                            <td class="text-center"><a href="page_ecom_product_edit.html"><strong>PID.8763</strong></a></td>
                            <td><a href="page_ecom_product_edit.html">Little Big Planet 3</a></td>
                            <td class="text-center"><strong>150</strong></td>
                            <td class="text-center"><strong>1</strong></td>
                            <td class="text-right"><strong>$59,00</strong></td>
                            <td class="text-right"><strong>$59,00</strong></td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right text-uppercase"><strong>TỔNG CỘNG:</strong></td>
                            <td class="text-right"><strong>$975,00</strong></td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right text-uppercase"><strong>TRẢ TRƯỚC:</strong></td>
                            <td class="text-right"><strong>$975,00</strong></td>
                        </tr>
                        <tr class="active">
                            <td colspan="5" class="text-right text-uppercase"><strong>CÒN LẠI:</strong></td>
                            <td class="text-right"><strong>$0,00</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END Timeline Widget -->

<div class="row">
    <div class="col-sm-6">
        <!-- Timeline Widget -->
        <div class="widget">
            <div class="widget-extra themed-background-dark">
                <h3 class="widget-content-light">
                    <strong><i class="fa fa-map-marker"></i> Thông tin đặt hàng</strong>
                </h3>
            </div>
            <div class="widget-extra" style="height: auto !important;">
                <div style="padding: 10px 0;">
                    <!-- Billing Address Content -->
                    <h4><strong>Jonathan Taylor</strong></h4>
                    <address>
                        Sunset Str 620<br>
                        Melbourne<br>
                        Australia, 21-842<br><br>
                        <i class="fa fa-phone"></i> (999) 852-11111<br>
                        <i class="fa fa-envelope-o"></i> <a href="javascript:void(0)">johnathan.taylor@example.com</a>
                    </address>
                    <!-- END Billing Address Content -->
            
                </div>
            </div>
        </div>
        <!-- END Timeline Widget -->
    </div>

    <div class="col-sm-6">
        <!-- Timeline Widget -->
        <div class="widget">
            <div class="widget-extra themed-background-dark">
                <h3 class="widget-content-light">
                    <strong><i class="fa fa-map-marker"></i> Địa chỉ giao hàng</strong>
                </h3>
            </div>
            <div class="widget-extra" style="height: auto !important;">
                <div style="padding: 10px 0;">
                    <!-- Billing Address Content -->
                    <h4><strong>Jonathan Taylor</strong></h4>
                    <address>
                        Sunset Str 620<br>
                        Melbourne<br>
                        Australia, 21-842<br><br>
                        <i class="fa fa-phone"></i> (999) 852-11111<br>
                        <i class="fa fa-envelope-o"></i> <a href="javascript:void(0)">johnathan.taylor@example.com</a>
                    </address>
                    <!-- END Billing Address Content -->
                        
                </div>
            </div>
        </div>
        <!-- END Timeline Widget -->
    </div>
</div>


<!-- Timeline Widget -->
<div class="widget">
    <div class="widget-extra themed-background-dark">
        <h3 class="widget-content-light">
            <strong><i class="fa fa-file-text-o"></i> Nhật ký đơn hàng</strong>
        </h3>
    </div>
    <div class="widget-extra" style="height: auto !important;">
        <div style="padding: 10px 0;">
            <div class="table-responsive">
                <table class="table table-bordered table-vcenter">
                    <tbody>
                        <tr>
                            <td>
                                <span class="label label-primary">Order</span>
                            </td>
                            <td class="text-center">October 17, 2014 - 12:00</td>
                            <td><a href="javascript:void(0)">Support</a></td>
                            <td class="text-success"><i class="fa fa-fw fa-check"></i> <strong>Order Completed</strong></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-primary">Order</span>
                            </td>
                            <td class="text-center">October 17, 2014 - 10:15</td>
                            <td><a href="javascript:void(0)">Support</a></td>
                            <td class="text-info"><i class="fa fa-fw fa-info-circle"></i> <strong>Preparing Order</strong></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-success">Payment</span>
                            </td>
                            <td class="text-center">October 16, 2014 - 17:15</td>
                            <td><a href="javascript:void(0)">Harry Burke</a></td>
                            <td class="text-success"><i class="fa fa-fw fa-check"></i> <strong>Payment Completed</strong></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-danger">Email</span>
                            </td>
                            <td class="text-center">October 16, 2014 - 09:10</td>
                            <td><a href="javascript:void(0)">Support</a></td>
                            <td class="text-danger"><i class="fa fa-fw fa-exclamation-triangle"></i> <strong>Missing payment details. Email was sent and awaiting for payment before processing</strong></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-primary">Order</span>
                            </td>
                            <td class="text-center">October 15, 2014 - 12:26</td>
                            <td><a href="javascript:void(0)">Support</a></td>
                            <td><strong>All products are available</strong></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="label label-primary">Order</span>
                            </td>
                            <td class="text-center">October 15, 2014 - 12:15</td>
                            <td><a href="javascript:void(0)">Harry Burke</a></td>
                            <td><strong>Order Submitted</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>
<!-- END Timeline Widget -->